#cv {
	width:100%;
	height:auto;
	display:inline-block;
	position:absolute;
	z-index:-1;
}
#header .top_title{
	width:40%;
	position:absolute;
	z-index:2;
	font-size:700%;
	left:50%;
	top:80px;
	margin-left:-20%;
	text-align:center;
	color:blue;
}